<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/products/create}">Add new product</a>
<form th:action="@{/products/search}" method="post">
    <input type="text" name="searchName">
    <button type="submit">Search</button>
</form>
<table border="1" style="margin: auto;width: 600px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tr th:each="p: ${productList}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.brand}"></td>
        <td><a th:href="@{/products/update/{id}(id = ${p.getId()})}">Edit</a></td>
        <td><a th:href="@{/products/delete/{id}(id = ${p.getId()})}">Delete</a></td>
        <td><a th:href="@{/products/view/{id}(id = ${p.getId()})}">View</a></td>
    </tr>

</table>
</body>
</html>